
    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;
    }

    #wrapper {
        width: 960px;
        height: 725px;
        /*padding: 10px;*/
        border: 1px solid black;
        margin: 0px auto;
    }

    #banner {

        height: 150px;

    }

    	#banner img {
    		height: 100%;
    		width: 100%;
    	}

    #nav_bar {
        /*width: 99.2%;*/
        height: 47px;
        padding: 4px 4px 0px 4px;
        background-color: #B6B6B6;
        overflow-x: scroll; 
        white-space: nowrap;

      
    }
        #nav_bar ul {
            /*margin: 0px auto;*/
            /*overflow-x: scroll; */

        }

        #nav_bar ul li.pref_tab{
            display: inline-block;
            list-style-type: none;
            padding: 5px 18px;
            border: 1px solid black;
            border-bottom: none;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            /*overflow-x: scroll; */

        }

        #nav_bar a {
            text-decoration: none;
            line-height: 35px;
            color: black;
            font-size: 1.4em;
        }

        #nav_bar a:hover{
            cursor: pointer;
            
        }

    #content {
        width: 99%;
        padding: 5px;
        /*margin: 0px auto;*/
    }

    #recipe_tab_left, #twtr_tab_right {
        width: 24%;
        height: 500px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid black;
        
    }

    #twtr_content .loading {
    	width: 100%;
    	height: 50%;
    }

	#twtr_tab_right #twtr_content {
		height: 91.3%
	}

    #recipe_tab_left #search_content, #twtr_tab_right #twtr_content{
        word-wrap: break-word;
        overflow-y: scroll;
    }

    #recipe_tab_left h3, #twtr_tab_right h3{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }



    #search_content {
        height: 91.3%;
        overflow-y: scroll;
        background-color: #B6B6B6;
        
    }

    #search_content .loading {
    	width: 100%;
	}


    #search_content .recipe {
        height: 20%;
        border-bottom: 1px solid black;
        /*margin-top: 20px;*/
        /*background-color: #00BCD4;*/
        background-size: 100% 100%;
        color: white;
        background-repeat: no-repeat;
        border: 4px solid rgba(0,0,0,0);

    }

    #search_content .recipe:hover{
    	 cursor: pointer;
    }
   

    #search_content .recipe_link {
    	padding-left: 10px;
    	padding-top: 15px;
    }




    #center_content {
        width: 50%;
        height: 500px;
        border: 1px solid black;
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
    }

    #option_tabs {

        height: 39px;
        background-color: #B6B6B6;
        padding: 4px 4px 0px 4px;

    }

/*    #option_tabs ul {
    	margin-left: 50px;
    }
*/
    #option_tabs ul li{

        height: 38px;
        width: 175px;
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        list-style-type: none;
        border: 1px solid black;
        border-bottom: none;
        text-align: center;
        line-height: 35px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;


    }

/*    #option_tabs ul li:last-child{
    	margin-left: 105px;
    }
*/
    #option_tabs a {

        text-decoration: none;
        color: black;

    }


    #details {
        padding: 5px;
        height: 88%;
    }

    #details .loading {
    	width: 100%;
    	height: 100%;
	}

    #details_top {
        text-align: center;
    }

    #details_top img {
        width: 40%;
        height: 40%;
        margin-bottom: 3px;
    }


    #ingredients {
        width: 60%;
        height: 40%;
        margin-left: 20%;
        overflow-y: scroll;
        margin-top: 20px;
        box-shadow: 10px 10px 5px #888888;
    }


    #ingredients ul li{

        margin-top: 20px;
        margin-bottom: 20px;

    }

    #details_bottom {
        /*height: 10%;*/
        margin-top: 20px;
        text-align: center;
    }

	#grocery_list {
		display: none;
		padding: 10px;
		overflow-y: scroll;
		white-space: nowrap;
	}

	#groceries {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
		border: 1px solid black;
	}

	#groceries th {
		background-color: #B6B6B6;
		font-size: 1.2em;
	}

	#groceries tr:nth-child(even) {
		background-color: #B6B6B6;
	}

	#groceries tr {
		border-top: 1px solid black;
	}
