
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url( "/static/img/indexbg2.jpg");
	background-size: 125%;
	background-repeat: no-repeat;
}
#header{
	vertical-align: top;
	display: block;
	background-color: #e53935;
	height: 56px;
}
	#header h2{
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		color: white;
		margin-top: 14px;
		margin-left: 40px;
	}
	#header h4{
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		color: white;
	}
.form_box{
	opacity: 0.90;
}
	/*.form_box h2{
		font-family: 'Roboto', sans-serif;
		font-size: 22px;
		color: white;
	}
	.form_box label{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: white;
	}
	.form_box button{
		color: white;
		background-color: #e53935;
		padding: 5px;
		font-size: 15px:
		text-decoration: none;
	}
.btn {
	position: relative;
	display: block;
	float: right;
	margin-right: 110px;
	margin-top: 3px;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #e53935;
	color: #ecf0f1;
	transition: background-color .3s;
	padding: 8px 45px;
}

.btn:hover, .btn:focus {
  background-color: #F44336;
}

.btn > * {
  position: relative;
}


.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;  
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
*/